
.view-container {
  @apply tw-w-full lg:tw-max-w-[1400px] md:tw-mx-8 2xl:tw-max-w-[150rem];
}

.v-tooltip .v-overlay__content {
  background-color: black !important;
  opacity: 0.8 !important;
  color: white !important;
}
